.option:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.container {
  width: 200px;
  background-color: lightblue;
  opacity: 100;
  border: grey solid 3px;
}

.option {
  margin: 0;
  padding: 0;
}
